
    <footer>
        <div class="container--footer">
             <div class="footerprincipal">
                 <!-- inicio-->

                <div class="parte1">
                   <h4> Categorias </h4>
                   <ul>
                     <li><a href="/"> Home </a></li>
                     <li><a href="/brasileiros"> Brasileiros </a></li>
                     <li><a href="/futebol"> Futebol </a></li>
                     <li><a href="/selecoes"> Seleções </a></li>
                     <li><a href="/variedades"> Variedades </a></li>
                    
                    
                     
                   
                   </ul>
      
      
                 </div>
                 <!--final-->
                 <!--inicio-->
                     <div class="parte1">
                       <h4> Social</h4>
                       <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Linkedin</a></li>
                      </ul>
      
      
                     </div>
                 <!--final-->
                 <!--inicio-->
                     <div class="parte1">
                          <h4> Suporte </h4>
                           <ul>
                             <li><a href="#">FAQ</a></li>
                             <li><a href="#">Telefones</a></li>
                             <li><a href="#">Chat</a></li>
                             <li><a href="/telalogin">Login</a></li>
                             <li><a href="/formulario">Cadastro</a></li>

                          </ul>
      
      
                     </div>
                 <!--final-->
                 <!--inicio-->
                     <div class="parte1">
                       <h4> Administrador</h4>
                         <!--Inicício formulário-->
                         <div class="formulario">
                            <form action="/addlenda">
                             <input type="email" placeholder="Digite o seu e-mail" required>
                             <input type="password" placeholder="Digite a sua senha" required  name="" id="">
                             <button> Entrar </button>
      
                            </form>
                         </div>
                          <!--fim do formulário-->
                         
                     </div>
                 <!--final-->
      
             </div> 
      
         </div>
      
      </footer>