
    <header id="area-cabecalho">

    <div class="primeira-area">

        <section id="area-logo">
            <div><img class="img-nav" src="css/imagens/blog.png" alt=""></div>
        </section>

        <div class="parte1">
                       
                         <!--Inicício formulário-->
                         <div class="formulario">
                            <form action="/telalogin">
                                <button> Fazer login</button>
                            </form>
                             
                            <form action="/formulario">
                                <button> Cadastre-se </button>
                            </form>


                         </div>
                          <!--fim do formulário-->
                         
                     </div>
    </div>
        <nav id="area-menu">
            <a href="/">HOME</a>
            <a href="/brasileiros">BRASILEIROS</a>
            <a href="/futebol">FUTEBOL</a>
            <a href="/selecoes">SELEÇÕES</a>
            <a href="/variedades">VARIEDADES</a>
            <a href="addlenda">ADICIONE LENDA</a>
            

        </nav>
    
         
    </header>