<br><br><br>

<div class="container-lendas">

<div class="header-lendas">
<span>CADASTRO DE JOGADORES</span>
</div>

<div class="modal-container-lendas">
    <div class="modal-lendas">
<form action="/lendas/insertlendas" method="POST" class="form">
<div class="form-control">
    <label for="title">NOME DA LENDA:</label>
    <input type="text" name="nome" id="nome" placeholder="Insira o nome da lenda">
</div>
<div class="form-control">
    <label for="posicao">POSIÇÃO DA LENDA:</label>
    <input type="text" name="posicao" id="posicao" placeholder="Insira a posicao da lenda">
</div>

<div id="botoes-form">
<input class="botoes" type="submit" value="cadastrar">
<a style="color: white;" class="botoes" href="/lendas">exibir</a>
</div>

</form>
</div>
</div>

</div>

 <br><br><br>