 
    <main id="area-principal">
        <article id="area-postagem">
            <section class="postagem">
                <h5>WSL 2023</h5>
                <span class="data-postagem">Postado em 31 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/brasileiros1.webp" alt="descrição da imagem"></div>
                <p>Brasileiros iniciam briga por sétimo título mundial</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>COMBATE</h5>
                <span class="data-postagem">Postado em 30 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/brasileiros2.webp" alt="descrição da imagem"></div>
                <p>Brasileiros lutam no Glory Rivals 5 neste sábado, com transmissão do Combate</p>
               
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>PREMIER LEAGUE</h5>
                <span class="data-postagem">Postado em 28 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/brasileiros3.webp" alt="descrição da imagem"></div>
                <p>Mais um brasileiro na Premier League: Tetê é do Leicester</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>SANTA CATARINA</h5>
                <span class="data-postagem">Postado em 27 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/brasileiros4.webp" alt="descrição da imagem"></div>
                <p>Dupla da Bahia conquista o Campeonato Brasileiro de Snipe, em Florianópolis</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>FUTEBOL ESPANHOL</h5>
                <span class="data-postagem">Postado em 27 de janeiro de 2023</span>
              <div class="zoom" >  <img  src="css/imagens/brasileiros5.webp" alt="descrição da imagem"></div>
              <p>Racismo contra Vinicius Junior: comissão marca reunião extraordinária</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>CAMPINAS E REGIÃO</h5>
                <span class="data-postagem">Postado em 26 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/brasileiros6.webp" alt="descrição da imagem"></div>
                <p>Brasileiros são campeões nas duplas no Challenger de Piracicaba</p>
               
                <a href="#">Leia mais</a>
            </section>
            
  
        </article>

        <aside id="area-lateral">
            <section class="conteudo-lateral">
                <h3>Combate</h3>

                <section class="postagem-lateral">
                    <p>Programação do Combate em 2023: Veja em detalhes todos os eventos confirmados na grade do Canal Combate durante todo o ano</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Combate fecha acordo para transmitir o Bellator com exclusividade em 2023 e 2024</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Boxe: Combate transmite defesa de títulos de Artur Beterbiev neste sábado</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>
            
            <section class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="/brasileiros">BRASILEIROS</a>
                <a href="/futebol">FUTEBOL</a>
                <a href="/selecoes">SELEÇÕES</a>
                <a href="/variedades">VARIEDADES</a>
             
            </section>

        </aside>

        <div id="clear"></div>
    
    

    </main>
    
   