<main class="main-formulario">

    <section id="login-formulario" >

        <div id="imagem-formulario">
           

             
        </div>

        <div id="formulario1">
            <h1>Cadastre-se</h1>
            
            <p>Seja bem-vindo(a), faça seu cadastro para ficar por dentro e receber nossos conteudos exclusivos.</p>
            <form id="formulario" method="post">
                <div class="campo-formulario">
                   
                    <input  type="text" name="Nome" id="nome-formulario" placeholder="Digite o seu nome" required >
                </div>
                <div class="campo-formulario">
                    
                    <input type="text" name="Sobrenome" id="sobrenome-formulario" placeholder="Digite o seu sobrenome" required >
                </div >
                <div class="campo-formulario">
                    
                    <input type="email" name="Login" id="login-formulario" placeholder="Digite o seu e-mail" required >
                </div >
                <div class="campo-formulario">
                    
                    <input type="password" name="Senha" id="senha-formulario" placeholder="Digite a sua senha" required minlength=8 >
                </div >
                
                <br><br>
                <input id="botao-formulario" type="submit" value="Cadastrar">
                
            </form>
            </div>


        </div>

    </section>

</main>