<main id="area-principal">
        <article id="area-postagem">
            <section class="postagem">
                <h5>VASCO</h5>
                <span class="data-postagem">Postado em 31 de janeiro de 2023</span>
                <div class="zoom" >  <img  width="250px" src="css/imagens/vasco.webp" alt="descrição da imagem"></div>
                <p>Vasco apresenta poucas ideias enquanto busca entrosamento</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>LUVAS GLORIOSAS</h5>
                <span class="data-postagem">Postado em 30 de janeiro de 2023</span>
                <div class="zoom" >  <img  width="259px" src="css/imagens/botafogo.webp" alt="descrição da imagem"></div>
                <p>Defesa de pênalti dá ânimo ao Botafogo, que passa em primeiro teste de 2023</p>
               
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>PALMEIRAS</h5>
                <span class="data-postagem">Postado em 30 de janeiro de 2023</span>
                <div class="zoom" >  <img  width="250px" src="css/imagens/palmeiras.webp" alt="descrição da imagem"></div>
                <p>Palmeiras ganha fôlego na busca por reforços após título; veja como estão as negociações</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>BOLSO CHEIO</h5>
                <span class="data-postagem">Postado em 30 de janeiro de 2023</span>
                <div class="zoom" >  <img  width="250px" src="css/imagens/flamengo.webp" alt="descrição da imagem"></div>
                <p>Flamengo volta ao mercado para dar mais opções a Vítor Pereira</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>FUTEBOL ITALIANO</h5>
                <span class="data-postagem">Postado em 30 de janeiro de 2023</span>
              <div class="zoom" >  <img  width="250px" src="css/imagens/futebol italiano.webp" alt="descrição da imagem"></div>
              <p>José Mourinho diz que Napoli tem "estrelinha de campeão" e provoca: "Conheço bem, ganhei oito vezes"</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>ATLÉTICO-MG</h5>
                <span class="data-postagem">Postado em 29 de setembro de 2023</span>
                <div class="zoom" >  <img  width="250px" src="css/imagens/GALO.webp" alt="descrição da imagem"></div>
                <p>Análise: "estilo Coudet" no Atlético-MG necessita de ajustes, mas início de estadual é puro laboratório</p>
               
                <a href="#">Leia mais</a>
            </section>
            
  
        </article>

        <aside id="area-lateral">
            <section class="conteudo-lateral">
                <h3>Campeonato Carioca</h3>

                <section class="postagem-lateral">
                    <p>Melhores momentos: Vasco 1 x 2 Volta Redonda, pela 5ª rodada do Campeonato Carioca 2023</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Buscando sair da lanterna do Carioca, Boavista tem "decisão" contra o Flamengo no Maracanã</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Guia do Carioca 2023: tudo sobre o campeonato que começa nesta quinta-feira</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>
            
            <section class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="/brasileiros">BRASILEIROS</a>
                <a href="/futebol">FUTEBOL</a>
                <a href="/selecoes">SELEÇÕES</a>
                <a href="/variedades">VARIEDADES</a>
              
            </section>

        </aside>

        <div id="clear"></div>
    
    

    </main>