 

  
    <main id="area-principal">
        <article id="area-postagem-home">
            <section class="postagem-home">
                <h2>Mercado da bola</h2>
                <span class="data-postagem-home">Postado em 31 de janeiro de 2023</span>
            <div class="zoom" ><img  class="img-home" src="css/imagens/imagem1index.webp" alt="descrição da imagem"></div> 
                <p>Acompanhe as transferências finais nas principais ligas do continente na temporada 2022/23</p>
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem-home">
                <h2>Técnico particular de Rudy Gobert, brasileiro avalia primeiros meses após troca histórica</h2>
                <span class="data-postagem-home">Postado em 30 de janeiro de 2023</span>
              <div class="zoom" ><img class="img-home" src="css/imagens/imagem2index.webp" alt="descrição da imagem"></div>  
                <p> Fernando Pereira, o Nandes, trabalha com astro francês desde 2020; Gobert chegou aos Timberwolves por cinco jogadores e mais cinco escolhas de draft</p>
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem-home">
                <h2>6ª Corrida e Caminhada da Apae em Praia Grande está com inscrições abertas</h2>
                <span class="data-postagem-home">Postado em 30 de janeiro de 2023</span>
               <div class="zoom" ><img class="img-home"  src="css/imagens/imagem3index.webp" alt="descrição da imagem"></div>
                <p>A prova está marcada para o dia 12 de março, com largada da Praça Duque de Caxias, no Canto do Forte</p>
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem-home">
                <h2>Futel promove seletiva de vôlei feminino em Uberlândia</h2>
                <span class="data-postagem-home">Postado em 29 de janeiro de 2023</span>
              <div class="zoom" ><img class="img-home"  src="css/imagens/imagem4index.webp" alt="descrição da imagem"></div> 
                <p>Avaliação gratuita será realizada a partir desta quarta-feira na quadra do UTC. Atletas de seis categorias podem participar</p>
                <a href="#">Leia mais</a>
            </section>
            
  
        </article>

        <aside id="area-lateral">
            <section class="conteudo-lateral">
                <h3>NBA</h3>

                <section class="postagem-lateral">
                    <p>Kyrie lidera, e Brooklyn Nets passa pelos Lakers desfalcados de LeBron</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Na prorrogação, Celtics vencem os Lakers em Boston e se reabilitam na NBA</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>NBA: Confira os titulares eleitos e os uniformes do All-Star Game 2023</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>

            <section class="conteudo-lateral">
                <h3>Futebol Femenino</h3>

                <section class="postagem-lateral">
                    <p>Reformulado, time feminino do Inter se apresenta para a temporada 2023</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Um clássico no circo: os 90 anos do primeiro jogo de futebol feminino do Recife e suas origens no Brasil</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Kansas City Current anuncia a contratação da brasileira Debinha, ex-NC Courage</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>

            <section class="conteudo-lateral">
                <h3>Surf</h3>

                <section class="postagem-lateral">
                    <p>Filipe Toledo fala sobre Mundial de Surf e caminhada para os próximos Jogos Olímpicos</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Museu do Surf Rico recebe prancha de Ítalo Ferreira</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Federação Catarinense de Surf entrega premiação aos campeões da última temporada - 11/01/2023</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>

            <section class="conteudo-lateral">
                <h3>Vôlei</h3>

                <section class="postagem-lateral">
                    <p>América-MG derrota Minas em clássico mineiro pela Superliga de vôlei masculino</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Confira a campanha do vôlei do Praia Clube na temporada 2022/2023</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Juruti e Oriximiná vencem a 1ª Copa Intermunicipal de Vôlei Obidense</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>
            
            <section class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="/brasileiros">BRASILEIROS</a>
                <a href="/futebol">FUTEBOL</a>
                <a href="/selecoes">SELEÇÕES</a>
                <a href="/variedades">VARIEDADES</a>
              
            </section>

        </aside>

        <div id="clear"></div>
    
    

    </main>
    
    
    