<div id="estud">
    <a href="/lendas">voltar</a>
    <div class="container">
        <h1>{{lenda.nome}}</h1>
        <p>esta lenda esta na {{lenda.posicao}} posicao</p>
        <div class="action">
            <a href="/lendas/edit/{{lenda.id}}">Editar</a> 
            <form action="/lenda/remove/{{lenda.id}}" ><a href="/remove">remover</a></form>
            </div>
    </div>
</div>
<br><br><br><br>

