<main id="area-principal">
        <article id="area-postagem">
            <section class="postagem">
                <h5>MUNDO DO FUTSAL</h5>
                <span class="data-postagem">Postado em 29 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/selecoes1.webp" alt="descrição da imagem"></div>
                <p>CBF divulga calendário de 2023 das seleções brasileiras de futsal</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>COPA AMÉRICA</h5>
                <span class="data-postagem">Postado em 28 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/selecoes2.webp" alt="descrição da imagem"></div>
                <p>Copa América de 2024 será disputada nos Estados Unidos</p>
               
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>PAINEL TÁTICO</h5>
                <span class="data-postagem">Postado em 27 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/selecoes3.webp" alt="descrição da imagem"></div>
                <p>Roberto Martínez em Portugal e a distância entre treinadores de clubes e seleções</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>FUTEBOL INTERNACIONAL</h5>
                <span class="data-postagem">Postado em 26 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/selecoes4.webp" alt="descrição da imagem"></div>
                <p>Iraque celebra volta de um torneio de seleções ao país após 44 anos</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>COPA 2026</h5>
                <span class="data-postagem">Postado em 25 de janeiro de 2023</span>
              <div class="zoom" >  <img  src="css/imagens/selecoes5.webp" alt="descrição da imagem"></div>
              <p>Uefa vai debater mudança nas eliminatórias para a Copa de 2026</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>ESPORTS</h5>
                <span class="data-postagem">Postado em 24 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/selecoes6.webp" alt="descrição da imagem"></div>
                <p>Valorant: artista cria skins inspiradas em uniformes de seleções</p>
               
                <a href="#">Leia mais</a>
            </section>
            
  
        </article>

        <aside id="area-lateral">
            <section class="conteudo-lateral">
                <h3>CBF</h3>

                <section class="postagem-lateral">
                    <p>Em parceria com a prefeitura do Rio, CBF quer sediar Copa do Mundo feminina em 2027</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Flamengo envia ofício à CBF e pede afastamento de árbitros da Supercopa contra o Palmeiras</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>São Paulo manda ofício para CBF e FPF pedindo revisão de limite de estrangeiros nos jogos</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>
            
            <section class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="/brasileiros">BRASILEIROS</a>
                <a href="/futebol">FUTEBOL</a>
                <a href="/selecoes">SELEÇÕES</a>
                <a href="/variedades">VARIEDADES</a>
            
            </section>

        </aside>

        <div id="clear"></div>
    
    

    </main>