
<main class="main-login"> 
    <section id="login" >
        <div id="imagem">
           <!--aqui vai a imagem nas CSS-->
        </div>

        <div id="formulario">
            <h1>Login</h1> 
            <div id="estilo"> </div>
             <br>

            <form   autocomplete="on">
                <div class="campo">
                    <a href=""></a>

                    <a href="#"><ion-icon name="person-circle"></ion-icon></a>
                    <input type="email" name="Login"  id="ilogin" placeholder="Seu e-mail" autocomplete="email" required>
                    <label for="ilogin"></label>
                    <div id="msgemail"></div>
                </div>
                <div class="campo">
                    <a href="#"><ion-icon name="lock-open"></ion-icon></a>
                    <input type="password" name="Senha" id="isenha" placeholder="Sua senha" autocomplete="current-password" required minlength=8  > 
                    <label for="isenha"></label>
                </div >
                    
                   <div id="divbotao"> 
                    <button id="botao-login" onclick="Enviar()" value="Enviar">Entrar</button>
                    <a href="/formulario">Cadastre-se</a> 
                    
                   </div>
            
            </form>

            


        </div>
        

    </section>

</main>

