
    <main id="area-principal">
        <article id="area-postagem">
            <section class="postagem">
                <h5>ESPORTS</h5>
                <span class="data-postagem">Postado em 29 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/variedades1.webp" alt="descrição da imagem"></div>
                <p>Nobru inaugura arena gamer em shopping de São Paulo</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>LOL</h5>
                <span class="data-postagem">Postado em 28 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/variedades2.webp"alt="descrição da imagem"></div>
                <p>LoL: quais são as main roles e como escolher qual usar</p>
               
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>NBA</h5>
                <span class="data-postagem">Postado em 27 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/variedades3.webp" alt="descrição da imagem"></div>
                <p>NBA inaugura nova loja em São Paulo, a maior da América Latina</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>CARTOLA EXPRESS</h5>
                <span class="data-postagem">Postado em 26 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/variedades4.webp" alt="descrição da imagem"></div>
                <p>Cartola Express do Paulistão 2023: bom e barato, esbanja variedade</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>OLIMPÍADAS</h5>
                <span class="data-postagem">Postado em 25 de janeiro de 2023</span>
              <div class="zoom" >  <img  src="css/imagens/variedades5.webp" alt="descrição da imagem"></div>
              <p>COB anuncia concorrentes ao prêmio de melhor atleta de 2022</p>
               
                <a href="#">Leia mais</a>
            </section>

            <section class="postagem">
                <h5>OLIMPÍADAS</h5>
                <span class="data-postagem">Postado em 24 de janeiro de 2023</span>
                <div class="zoom" >  <img  src="css/imagens/variedades6.webp" alt="descrição da imagem"></div>
                <p>Que semana! Brasil tem conquistas na esgrima, tênis, judô e vôlei de praia</p>
                
               
                <a href="#">Leia mais</a>
            </section>
            
  
        </article>

        <aside id="area-lateral">
            <section class="conteudo-lateral">
                <h3>Esports</h3>

                <section class="postagem-lateral">
                    <p>Valorant terá skins temáticas de times de esports, revela diretor</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral">
                    <p>Eduardo Paes diz que Rio reconhece esports como esportes</p>
                    <a href="#">Leia mais</a>
                </section>
                <section class="postagem-lateral" style="border-bottom: none;"> 
                    <p>Casimiro chama fala de Ana Moser sobre esports de grotesca e arcaica</p>
                    <a href="#">Leia mais</a>
                </section>
                
            
            
            </section>
            
            <section class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="/brasileiros">BRASILEIROS</a>
                <a href="/futebol">FUTEBOL</a>
                <a href="/selecoes">SELEÇÕES</a>
                <a href="/variedades">VARIEDADES</a>
 
            </section>

        </aside>

        <div id="clear"></div>
    
    

    </main>