*{
    margin: 0;
    pad: 0;
}

body{
    font-size: 1em;
    font-family: "trebuchet MS, helvetica, sans-serif";
    background: linear-gradient( rgb(205, 246, 253),#e6e6e6 ) 
}

/*layout*/

#area-cabecalho{
    background-color: darkcyan;
    padding: 15px;
    text-align: center;
    

}

#area-logo{
    padding: 10px;

}

.branco{
    color: rgb(255, 251, 0);
}



#rodape{
    text-align: center;
    padding: 15px;
    background: darkcyan;
}

/*menu*/

a{
    text-decoration: none;
   
}

a:link, a:visited{
    color: darkcyan;

}

a:hover{
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 45px;
} 

#area-cabecalho a:hover{
    color: darkcyan;
    background: #fff;
    text-align: none;
}

.conteudo-lateral a{
    display: block;
}

/*formatação geral*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: rgb(0, 0, 0);
}

h3{
    color: #fffb00;
    background: darkcyan;
    padding: 5px;
}

/*formulario*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


button {
  cursor: pointer;
}

.container {
    margin: auto;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background:darkcyan;
}

.header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: #fffb00;
}

.divTable {
  padding: 10px;
  width: 100%; 
  height: 176px; 
  overflow:auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: darkcyan;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: #fffb00;
  color: rgb(0, 0, 0);
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}

/*footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: darkcyan;
    padding: 30px 0;
  
}

.container--footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.footerprincipal{
    display: flex;
    flex-wrap: wrap;
}
.parte1{
    width: 25%;
    padding: 0 15px;
}
.parte1 h4{
    font-size: 22px;
    color:#fffb00;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.parte1 ul{
    list-style: none;
}
.parte1 ul li{
    margin: 10px 0;
}
.parte1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.parte1 ul li a:hover{
    color: #646464b0;
    padding-left: 10px; /* movimentação dos icones das listas */
}
.parte1 .redes-socias{
    margin: 30px;
}
.parte1 .redes-socias a{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(22, 22, 22);
    border: 1px solid rgb(5, 5, 5);
    transition: all 0.5s ease;
}
.parte1 .redes-socias a{
    font-size: 30px;
}
.parte1 .redes-socias a :hover{
    color: white; /* cor de fundo dos icones das redes socias */
    background-color: rgb(7, 7, 7);
}
.parte1 .formulario input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 3px solid rgb(84, 87, 86); /* borda da caixa do email*/ 
    color: black; /* cor do texto de digitação da caixa*/
    background-color: white;
}
.parte1 .formulario input::placeholder{
    color: black;
}
.parte1 .formulario button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}
@media (max-width: 800px) {
    .parte1{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .parte1{
        width: 100%;
    }
}