


.main-login{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 462px;
    height: 472px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);

}

section#login > div#imagem {

    display: block;
    background: url(../css/imagens/Blogfundo.png) no-repeat  ;
    background-size: cover;
    height: 225px;
}

section#login > div#formulario {
    text-align: center;
    display: block;
    padding: 10px;
    height: 249px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: o.8em;

}

#estilo{
    border-top: 1px solid rgb(0, 0, 0);
    margin: 10px;
    
}

/*botoes*/

#divbotao{
    display: inline-grid;

}



#ilogin, #isenha{
    width: 296px;
    height: 30px;
    margin: 5px;
    text-align: center;
    
}



#botao-login{
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fffb00;
    border-radius: 3px;
    font-weight: bold;
    background-color: #008b8b;
}
